name: Android Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    name: Release

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-tags: true
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          log-accepted-android-sdk-licenses: false   

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Setup APK Signing Key
        run: |
            echo ${{ secrets.KEYSTORE }} | base64 --decode > keystore.jks
            echo ${{ secrets.GRADLE_PROPERTIES}} | base64 --decode >> gradle.properties

      - name: Build with Gradle
        run: ./gradlew assembleRelease

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: app/release/*.apk

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          body_path: CHANGELOG.md
          files: app/release/*.apk